.DS_Store
Thumbs.db
*.zip
*.tar.gz
dist
node_modules
npm-debug.log
yarn-error.log
/vendor
.idea
!/vendor/autoload.php
!/vendor/autoload_52.php
!/vendor/composer/autoload_psr4.php
!/vendor/composer/autoload_files.php
!/vendor/composer/autoload_real_52.php
!/vendor/composer/autoload_static.php
!/vendor/composer/ClassLoader52.php
!/vendor/composer/autoload_classmap.php
!/vendor/composer/ClassLoader.php
!/vendor/composer/installed.json
!/vendor/composer/autoload_namespaces.php
!/vendor/composer/autoload_real.php
!/vendor/xrstf/
