.js-wpm-action {

	+ .spinner {
		float: none;
	}

	+ .success {
		color: $green;
		font-style: italic;
		display: inline-block;
		margin-left: 10px;
		line-height: 26px;
		font-weight: 700;
	}
}

#delete_localization,
#qts_import {

	+ .spinner {
		vertical-align: top;
	}
}

