.wpm-language-switcher {
  background-color: $bg-color;
  left: 48px;
  position: absolute;

  * {
    box-sizing: border-box;
  }

  &:hover {
    .lang-dropdown {
      display: block;
    }
  }

  .lang-dropdown {
    display: none;
  }

  .lang-main {
    padding-left: 15px;
    padding-right: 15px;

    img {
      position: relative;
      top: 1px;
    }

    &:hover {
      background-color: $hover-color;
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
      border-style: solid;
      border-top-color: $brand-primary;
      border-top-width: 4px;
      line-height: 41px;

      img {
        top: -1px;
      }
    }
  }
}

.lang-dropdown {

  ul {
    margin-bottom: 0;
    margin-top: 0;
  }

  li {
    margin-bottom: 0;

    a {
      display: block;
      padding-left: 15px;
      padding-right: 15px;

      &:hover {
        background-color: $hover-color;
      }
    }
  }
}
