table.wpm-languages {
	text-align: center;

	th {
		text-align: center;
	}

	tbody {

		tr > td:first-child {
			cursor: move;
		}
	}

	.ui-sortable-helper {
		background-color: $white;
		display: flex;
	}

	.wpm-lang-order {
		width: 6%;
	}

	.wpm-lang-default {
		//width: 6%;
	}

	.wpm-lang-status {
		//width: 6%;
	}

	.wpm-lang-locale {
		//width: 10%;
	}

	.wpm-lang-slug {
		//width: 15%;
	}

	.wpm-lang-name {
		//width: 15%;
	}

	.wpm-lang-date {
		//width: 10%;
	}

	.wpm-lang-time {
		//width: 10%;
	}

	.wpm-lang-flag {
		//width: 15%;
	}

	.wpm-lang-delete {
		width: 10%;
	}
}

.wp-core-ui .button-link.delete-language {
	color: $red;
}
